@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text-primary-color: #071627;
		--text-secondary-color: #dcdada;
		--background-color: #cccccc;
		--primary-color: #071627;
		--secondary-color: #e4e5e7;
		--accent-color: #548896;

		--text-primary-color-dark: #d6d9e3;
		--text-secondary-color-dark: #070c1d;
		--background-color-dark: #090f25;
		--primary-color-dark: #d8bb5a;
		--secondary-color-dark: #111e4b;
		--accent-color-dark: #d6b751;
	}
}

.form {
	@apply border-primary dark:border-primary_dark border bg-background dark:bg-background_dark text-text_primary dark:text-text_primary_dark;
}

.form_button {
	@apply flex flex-row cursor-pointer border-t border-primary dark:border-primary_dark w-full text-3xl mt-6 dark:hover:bg-primary_dark hover:bg-primary
	hover:text-text_secondary dark:hover:text-text_secondary_dark transition-colors py-2 px-4 align-middle font-semibold select-none text-center disabled:text-gray-500 disabled:bg-gray-400;
}

.form_input {
	@apply p-1 border bg-secondary dark:bg-secondary_dark border-background dark:border-background_dark hover:border-accent dark:hover:border-accent_dark focus:border-primary dark:focus:border-primary_dark outline-none;
}

/* *{
	border: 1px inset orange;

  } */
