@tailwind base;
@tailwind components;
@tailwind utilities;

.background-pattern {
	background-color: #cccccc;
	opacity: 1;
	background-image: radial-gradient(#e4e5e7 1.75px, transparent 1.75px),
		radial-gradient(#e4e5e7 1.75px, #cccccc 1.75px);
	background-size: 70px 70px;
	background-position: 0 0, 35px 35px;
}
