@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
	:root {
		--text-color: #071627;
		--background-color: #CCCCCC;
		--primary-color: #071627;
		--secondary-color: #E4E5E7;
		--accent-color: #548896;

		--text-color-dark: #fef9ec;
		--background-color-dark: #333333;
		--primary-color-dark: #d8e7f8;
		--secondary-color-dark: #18191b;
		--accent-color-dark: #699cab;
	}
}

.background-pattern {
	background-color: #cccccc;
	opacity: 1;
	background-image: radial-gradient(#e4e5e7 1.75px, transparent 1.75px),
		radial-gradient(#e4e5e7 1.75px, #cccccc 1.75px);
	background-size: 70px 70px;
	background-position: 0 0, 35px 35px;
	animation: moveBackground 4s linear infinite; /* Create a looping animation */
}

@keyframes moveBackground {
	0% {
		background-position: 0 0, 35px 35px;
	}
	100% {
		background-position: 70px 70px, 105px 105px; /* Adjust the endpoint */
	}
}

.form {
	@apply border-primary dark:border-primary_dark border bg-white;
}

.form_button {
	@apply flex flex-row cursor-pointer border-t border-primary dark:border-primary_dark w-full text-3xl mt-6 hover:bg-primary dark:bg-primary_dark
	hover:text-secondary dark:text-secondary_dark transition-colors py-2 px-4 align-middle font-semibold select-none text-center disabled:text-gray-500 disabled:bg-gray-400;
}

.form_input {
	@apply p-1 border bg-secondary dark:bg-secondary_dark border-background  hover:border-gray-400  focus:border-primary dark:border-primary_dark  outline-none w-full;
}
/* .form_input {
	@apply p-1 border-l-2 border-primary dark:border-primary_dark bg-secondary dark:bg-secondary_dark hover:border-l-[3px]  outline-none w-full;
} */

/* *{
	border: 1px inset orange;

  } */
